@page
@model BookStoreApp.Pages.Seller.SellerPageModel
@{
}
@if (@Model.Role == "3")
{
    <h1>Welcome @Model.Username With Role is Seller</h1>
}
else{
    <p>You do not have permission to access</p>
}
