@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStoreApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .page{
            padding:0px 10px;
        }
        .pagination{
          margin: 0% 50%;  
          padding:20px;
  
          &,
          *{
            user-select: none;
          }
  
          a{
            display:inline-block;
            padding:0 10px;
            cursor:pointer;
            &.disabled{
              opacity:.3;
              pointer-events: none;
            cursor:not-allowed;
            }
            &.current{
              background:#f3f3f3;
            }
          }
    </style>
</head>
<body>
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="nav-link" asp-page="/Index">J.F.F BOOK STORE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">                
                        @if (Context.Session.GetString("Role") == null && Context.Session.GetString("Username") == null)
                        {
                            <ul class="navbar-nav" style="color: Black">
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Register/RegisterPage">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Login/LoginPage">Login</a>
                                </li>

                            </ul>

                        }
                        @if (Context.Session.GetString("Role") == "4" && Context.Session.GetString("Username") != null)
                        {
                            <ul class="navbar-nav" style="color: Black">
                                <li class="nav-item" style="padding: 5px; font-weight: bold; text-transform: uppercase;">
                                    <a asp-page="/Profile/Profile" asp-route-id="@Context.Session.GetString("CusID")">
                                    <p style="color: gold">Welcome, @Context.Session.GetString("Username")</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: Black" asp-page="/MyOrders/Index">My Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: Black" asp-page="/Index" asp-page-handler="Logout">Logout</a>
                                </li>
                            </ul>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                          c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                        </g>
                                     </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                          C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                          c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                          C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                        </g>
                                     </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                          c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                        </g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                <g>
                                     </g>
                                  </svg>
                            </a>
                        </li>
                        @*<form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>*@
                    </ul>
                </div>
            </nav>
        </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer class="bg-dark text-center text-white" style="width: 100%">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Powered by Team J.F.F
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        (function($) {
	        var pagify = {
		        items: {},
		        container: null,
		        totalPages: 1,
		        perPage: 3,
		        currentPage: 0,
		        createNavigation: function() {
			        this.totalPages = Math.ceil(this.items.length / this.perPage);

			        $('.pagination', this.container.parent()).remove();
			        var pagination = $('<div class="pagination"></div>').append('<a class="nav prev disabled" data-next="false"><</a>');

			        for (var i = 0; i < this.totalPages; i++) {
				        var pageElClass = "page";
				        if (!i)
					        pageElClass = "page current";
				        var pageEl = '<a class="' + pageElClass + '" data-page="' + (
				        i + 1) + '">' + (
				        i + 1) + "</a>";
				        pagination.append(pageEl);
			        }
			        pagination.append('<a class="nav next" data-next="true">></a>');

			        this.container.after(pagination);

			        var that = this;
			        $("body").off("click", ".nav");
			        this.navigator = $("body").on("click", ".nav", function() {
				        var el = $(this);
				        that.navigate(el.data("next"));
			        });

			        $("body").off("click", ".page");
			        this.pageNavigator = $("body").on("click", ".page", function() {
				        var el = $(this);
				        that.goToPage(el.data("page"));
			        });
		        },
		        navigate: function(next) {
			        // default perPage to 5
			        if (isNaN(next) || next === undefined) {
				        next = true;
			        }
			        $(".pagination .nav").removeClass("disabled");
			        if (next) {
				        this.currentPage++;
				        if (this.currentPage > (this.totalPages - 1))
					        this.currentPage = (this.totalPages - 1);
				        if (this.currentPage == (this.totalPages - 1))
					        $(".pagination .nav.next").addClass("disabled");
				        }
			        else {
				        this.currentPage--;
				        if (this.currentPage < 0)
					        this.currentPage = 0;
				        if (this.currentPage == 0)
					        $(".pagination .nav.prev").addClass("disabled");
				        }

			        this.showItems();
		        },
		        updateNavigation: function() {

			        var pages = $(".pagination .page");
			        pages.removeClass("current");
			        $('.pagination .page[data-page="' + (
			        this.currentPage + 1) + '"]').addClass("current");
		        },
		        goToPage: function(page) {

			        this.currentPage = page - 1;

			        $(".pagination .nav").removeClass("disabled");
			        if (this.currentPage == (this.totalPages - 1))
				        $(".pagination .nav.next").addClass("disabled");

			        if (this.currentPage == 0)
				        $(".pagination .nav.prev").addClass("disabled");
			        this.showItems();
		        },
		        showItems: function() {
			        this.items.hide();
			        var base = this.perPage * this.currentPage;
			        this.items.slice(base, base + this.perPage).show();

			        this.updateNavigation();
		        },
		        init: function(container, items, perPage) {
			        this.container = container;
			        this.currentPage = 0;
			        this.totalPages = 1;
			        this.perPage = perPage;
			        this.items = items;
			        this.createNavigation();
			        this.showItems();
		        }
	        };

	        // stuff it all into a jQuery method!
	        $.fn.pagify = function(perPage, itemSelector) {
		        var el = $(this);
		        var items = $(itemSelector, el);

		        // default perPage to 5
		        if (isNaN(perPage) || perPage === undefined) {
			        perPage = 3;
		        }

		        // don't fire if fewer items than perPage
		        if (items.length <= perPage) {
			        return true;
		        }

		        pagify.init(el, items, perPage);
	        };
        })(jQuery);

        $(".list-wrapper").pagify(9, ".list-item");
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
