@page
@model BookStoreApp.Pages.Admin.PublisherPage.EditModel
@{
}
@if(@Model.Role == "1")
{
    <h1>Edit Publisher</h1>
    @if (@Model.Msg != null)
    { 
        <p style="color: red;margin-left: 100px;margin-top: 15px;">@Model.Msg</p>
    }
<hr />
<div class="row">
    <div class="col-lg-12" style="margin-left: -550%; margin-top: 25%">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Publisher.Id" />
            <div class="form-group" style="width: 200%">
                <label asp-for="Publisher.Name" class="control-label"></label>
                <input asp-for="Publisher.Name" class="form-control" required/>
                <span asp-validation-for="Publisher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}
else{
    Response.Redirect("/Login/LoginPage");
}